<mat-form-field class="w-100" appearance="outline">
    <mat-label>Search for a repository</mat-label>
    <input matInput
           type="text"
           [formControl]="searchFc"
           [matMenuTriggerFor]="resultsMenu"
           (keyup.enter)="search()">

    <button mat-icon-button 
            role="button" 
            matSuffix 
            (click)="search()">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>

<mat-menu #resultsMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item *ngIf="result.length === 0">No results found</button>
        <button *ngFor="let item of result"
                mat-menu-item
                (click)="repoSelected.emit(item)">
            {{item.fullName}}
        </button>
    </ng-template>
</mat-menu>
