<mat-card class="mat-elevation-z4 py-2" *ngIf="!editing && !showForm; else timeForm">
    <div class="d-flex align-items-center">
        <mat-form-field>
            <mat-label>Created Date Range</mat-label>
            <mat-date-range-input [rangePicker]="dtRangePicker">
                <input matStartDate placeholder="From" [formControl]="dateFrom">
                <input matEndDate placeholder="To" [formControl]="dateTo">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="dtRangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #dtRangePicker></mat-date-range-picker>
        </mat-form-field>

        <div class="flex-fill"></div>

        <button mat-raised-button color="accent" class="ml-2" (click)="showForm = true;">
            Add Entry
        </button>
    </div>

    <time-table #table
                [data]="data"
                [rowCount]="rowCount"
                (sortChange)="get()"
                (pageChange)="get()"
                (updateItem)="editing = $event;"
                (deleteItem)="delete($event)">
    </time-table>
</mat-card>

<ng-template #timeForm>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <time-form (cancel)="resetView()"></time-form>
            </div>
        </div>
    </div>
</ng-template>