<div class="p-2">
    Repository: {{ repo?.fullName }}
</div>

<div class="d-flex">
    <mat-form-field class="flex-fill px-1" appearance="outline">
        <mat-label>Repo Item Type</mat-label>
        <mat-select name="repoItemType" [formControl]="repoItemType">
            <mat-option></mat-option>
            <mat-option *ngFor="let item of repoItemTypes" [value]="item.name">{{item.label}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-fill px-1" appearance="outline" *ngIf="itemType === 'commit'">
        <mat-label>Created Between</mat-label>
        <mat-date-range-input [rangePicker]="dtRangePicker">
            <input matStartDate placeholder="From" name="repoItemFromDt" [formControl]="itemFrom">
            <input matEndDate placeholder="To" name="repoItemToDt" [formControl]="itemTo">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="dtRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dtRangePicker></mat-date-range-picker>
    </mat-form-field>

    <span class="search-btn-wrapper">
        <button mat-flat-button
                color="primary"
                type="button"
                [disabled]="searchBtnDisabled"
                (click)="getRepoItems()">
            <mat-icon>search</mat-icon> Search
        </button>
    </span>
</div>

<mat-selection-list>
    <mat-list-option *ngFor="let item of repoItems" [value]="item">
        {{ itemType === 'commit' ? item?.message : item?.name }}
    </mat-list-option>
</mat-selection-list>