<div class="container">
    <mat-card class="mat-elevation-z8 d-flex flex-column p-5">
        <div class="text-center">
            <h1 class="mat-display-2 mb-0">Welcome to the Dev TimeTracker</h1>
            <h2 class="mat-h2 mb-5">Please sign in to use the application</h2>
        </div>

        <div class="login-btn-wrapper text-center">
            <a mat-raised-button 
               color="primary"
               routerLink="/auth"
               class="btn-login">
                Sign In
            </a>
        </div>
    </mat-card>
</div>