<h1 mat-dialog-title>Are you sure?</h1>
<mat-dialog-content>
    <p>Are you sure you want to delete your account?</p> 
    <p>This will only delete your data from this application</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button 
            color="warn" 
            class="mr-2"
            [mat-dialog-close]="true">
        Yes
    </button>
    <button mat-flat-button 
            color="primary" 
            class="ml-2"
            [mat-dialog-close]="false">
        Cancel
    </button>
</mat-dialog-actions>