<section class="user-delete-form-wrapper">
    <h1 class="mat-display-1 mb-3">Delete Account</h1>

    <p>Once you delete your account, all data time tracker data you created will also be deleted. Please be certain.</p>
    <p>Please note: that this will only delete your data from this application, you will need to further revoke the OAuth application permissions for this application in the <a href="https://github.com/settings/applications" alt="GitHub application settings">GitHub settings</a> under the <i>Authorized OAuth Apps</i> tab.</p>

    <button mat-raised-button
            color="warn"
            (click)="handleBtnClick()">
        Delete Account
    </button>
</section>
